footer {
    color: white;
    height: 60px;
    width: 100%;
    border-top: 1px solid;
    border-color: #cccccc;
    text-align: center;
    position: fixed;
    bottom: 0px;
}
footer p {
    vertical-align: center;
    color: #484848;
}